aside{
    float: left;
}
div{
    width: 63%;
    margin: auto;
    background: black;
}
.margin{
    margin-right: 10%;
    margin-left: 10%;
}
body{
    background: linear-gradient(#141e30, #243b55);
}